img{
    float:right;
}

body{
    font-family: cursive;
    font-size: 19px;
    color: greenyellow;
    background-color: blueviolet;
}

h1{
    font-weight: bold;
    color: black;
}

footer {
    text-align: center;
    background-color: hotpink;
    position: relative; bottom:0px;
}

#img2{
justify-content: center;
width: 500px; height:auto;
margin-left: 30%; margin-right: 30%;
}